@import 'variables';

.about-us__banner {
  min-height: 50vh;
  width: 100vw;
  background-image: url("../images/abouus-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  align-items: flex-start;
}

.about-us__title {
  @extend .actors-title;

  margin-top: 2 * $spacer;
}

.about-us__paragraph {
  @extend .staff-row;
  justify-content: space-around;
  padding: $spacer * 1.3 $spacer;
  font-size: 1.1 * $spacer;
  text-align: justify;
  line-height: $spacer * 1.8;
}

.about-us__quote {
  font-style: italic;
  padding: $spacer $spacer * 3;
  width: 70%;
  margin: 0 auto;
  background-color: lighten($light, 20);
  line-height: $spacer * 1.3;
  text-align: justify;

  @include border-radius($spacer);

  &::before {
    display: block;
    content: "“";
    color: $primary;
    font-size: $spacer * 3.5;
    padding-top: $spacer / 2;
  }
}

.about-us__image-row {
  @extend .staff-row;

  width: 70%;
  justify-content: center;
  margin: 0 auto;
}

.about-us__image {
  width: 100%;
  height: auto;
}

.about-us__image-text {
  text-align: center;
  font-style: italic;
  font-size: 0.8 * $spacer;
}
