/** @define img */
.img {
  &--responsive {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  &--rounded {
    @include border-radius(0.4em);
  }
}

/* About me rules SCSS */

/** @define about-me */
.about-me {
  &__img {
    @extend .img--responsive;
    @extend .img--rounded;
  }

  &__description {
    @extend .col__vertical-venter;
    padding: 0 3em;
  }

  &__title {
    font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: $spacer;
    text-transform: capitalize;
  }

  &__paragraph {
    font-size: $spacer;
    line-height: $spacer * 1.5;
    margin-bottom: $spacer / 2;
    text-align: justify;
  }
}

/* Academics rules SCSS */

/** @define academics */
.academics {
  @include inverse-bg;
  color: $color5;
  padding: $spacer * 4 0;

  &__icon {
    text-align: center;
    font-size: 4em;
  }

  &__row {
    @extend .row;
    padding: 2em 0;
  }

  &__summary {
    @extend .col__vertical-venter;
    text-align: center;
    font-size: $spacer * 1.2;
    font-style: italic;
  }

  &__description {
    text-align: justify;
    font-size: $spacer;
    line-height: $spacer * 1.5;
    margin-bottom: $spacer;
  }

  &__divider {
    @include border-radius(50px);
    width: 80%;
    margin: 0 auto;
    height: 5px;
    background-color: $color5;
  }
}

/* Professional experiences rules SCSS */

/** @define professional */
.professional {
  @include light-bg;
  padding: $spacer * 4 0;

  &__icon {
    text-align: center;
    font-size: 4em;
  }

  &__logo {
    max-width: 12em;
  }

  &__row {
    @extend .row;
    padding: 2em 0;
  }

  &__summary {
    @extend .col__vertical-venter;
    text-align: center;
    font-size: $spacer * 1.2;
    font-style: italic;
  }

  &__description {
    text-align: justify;
    font-size: $spacer;
    line-height: $spacer * 1.5;
    margin-bottom: $spacer;
  }

  &__divider {
    @include inverse-bg;
    @include border-radius(50px);
    width: 80%;
    margin: 0 auto;
    height: 5px;
  }
}

/* Footer rules SCSS */

/** @define footer */
.footer {
  @include inverse-bg;
  padding: 0;
  margin-bottom: 0;
  color: $color5;

  &__row {
    @extend .row;
    padding: $spacer 0;
    text-align: center;
  }

  &__text {
    text-align: center;
    font-size: $spacer;
    font-style: italic;
  }
}
