.img {
  &__responsive {
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  &__rounded {
    @include border-radius(0.4em);
  }
}

/* About me rules SCSS */
.about-me {
  &--img {
    @extend .img__responsive;
    @extend .img__rounded;
  }

  &--description {
    @extend .col__vertical-venter;
    padding: 0 3em;
  }

  &--title {
    font-size: 1.3em;
    font-weight: bolder;
    margin-bottom: $spacer;
    text-transform: capitalize;
  }

  &--paragraph {
    font-size: $spacer;
    line-height: $spacer * 1.5;
    margin-bottom: $spacer / 2;
    text-align: justify;
  }
}

/* Academics rules SCSS */
.academics {
  @include inverse-bg;
  color: $color5;
  padding: $spacer * 4 0;

  &--icon {
    text-align: center;
    font-size: 4em;
  }

  &--row {
    @extend .row;
    padding: 2em 0;
  }

  &--summary {
    @extend .col__vertical-venter;
    text-align: center;
    font-size: $spacer * 1.2;
    font-style: italic;
  }

  &--description {
    text-align: justify;
    font-size: $spacer;
    line-height: $spacer * 1.5;
    margin-bottom: $spacer;
  }

  &--divider {
    @include border-radius(50px);
    width: 80%;
    margin: 0 auto;
    height: 5px;
    background-color: $color5;
  }
}

/* Professional experiences rules SCSS */
.professional {
  @include light-bg;
  padding: $spacer * 4 0;

  &--icon {
    text-align: center;
    font-size: 4em;
  }

  &--logo {
    max-width: 12em;
  }

  &--row {
    @extend .row;
    padding: 2em 0;
  }

  &--summary {
    @extend .col__vertical-venter;
    text-align: center;
    font-size: $spacer * 1.2;
    font-style: italic;
  }

  &--description {
    text-align: justify;
    font-size: $spacer;
    line-height: $spacer * 1.5;
    margin-bottom: $spacer;
  }

  &--divider {
    @include inverse-bg;
    @include border-radius(50px);
    width: 80%;
    margin: 0 auto;
    height: 5px;
  }
}

/* Footer rules SCSS */
.footer {
  @include inverse-bg;
  padding: 0;
  margin-bottom: 0;
  color: $color5;

  &--row {
    @extend .row;
    padding: $spacer 0;
    text-align: center;
  }

  &--text {
    text-align: center;
    font-size: $spacer;
    font-style: italic;
  }
}
