@import 'variables';

.staff-container {
  max-width: $grid__breakpoint--lg;
  margin: 0 auto;
  box-sizing: border-box;
}

.staff-container--full {
  width: 100%;
  margin: 0 auto;
}

.staff-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: inherit;
  box-sizing: border-box;
}

@for $i from 1 through $grid__cols {
  .staff-col-#{$i} {
    padding: $col-gap;
    text-align: center;
    flex-basis: (100 / ($grid__cols / $i) ) * 1%;
  }
  .staff-col__offset-#{$i} {
    padding: $col-gap;
    margin-left: (100 / ($grid__cols / $i) ) * 1%;
  }
}

@media screen and (min-width: $grid__breakpoint--sm) {
  @for $i from 1 through $grid__cols {
    .staff-col-sm-#{$i} {
      padding: $col-gap;
      text-align: center;
      flex-basis: (100 / ($grid__cols / $i) ) * 1%;
    }

    .staff-col-sm__offset-#{$i} {
      padding: $col-gap;
      margin-left: (100 / ($grid__cols / $i) ) * 1%;
    }
  }
}

@media screen and (min-width: $grid__breakpoint--md) {
  @for $i from 1 through $grid__cols {
    .staff-col-md-#{$i} {
      padding: $col-gap;
      text-align: center;
      flex-basis: (100 / ($grid__cols / $i) ) * 1%;
    }

    .staff-col-md__offset-#{$i} {
      padding: $col-gap;
      margin-left: (100 / ($grid__cols / $i) ) * 1%;
    }
  }
}

@media screen and (min-width: $grid__breakpoint--lg) {
  @for $i from 1 through $grid__cols {
    .staff-col-lg-#{$i} {
      padding: $col-gap;
      text-align: center;
      flex-basis: (100 / ($grid__cols / $i) ) * 1%;
    }

    .staff-col-lg__offset-#{$i} {
      padding: $col-gap;
      margin-left: (100 / ($grid__cols / $i) ) * 1%;
    }
  }
}

.staff-col__vertical-venter {
  align-self: center;
}
