@import 'mixins';
@import 'variables';

.navbar__container {
  @include inverse-bg;
  @include box-shadow(0, 15px, 10px);
  border-bottom: 2px solid $color2;
  color: $color5;
  padding: 0.5em;
  padding-bottom: 0;
  margin-bottom: 1.5em;
}

.navbar__row {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  font-family: 'Comic Neue', cursive;
  font-weight: bolder;
  font-size: 1.3em;
}

.navbar__element {
  @include padding($spacer * 2, $spacer);
  cursor: pointer;

  &:hover {
    color: $color1;
  }
}
