@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Manrope&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
