/* Colors */
$color1: #262932;
$color2: #485D83;
$color3: #5F89BA;
$color4: #96AFCE;
$color5: #DAD8DB;

/*Spacing*/
$spacer: 1em;

/* Grid */
$grid--cols : 10;
$grid--breakpoint__sm: 550px;
$grid--breakpoint__md: 750px;
$grid--breakpoint__lg: 1100px;
$cols--spacer: $spacer / 2;

