/* Colors */
$color1: #262932;
$color2: #485d83;
$color3: #5f89ba;
$color4: #96afce;
$color5: #dad8db;

/* Spacing */
$spacer: 1em;

/* Grid */
$grid__cols : 10;
$grid__breakpoint--sm: 550px;
$grid__breakpoint--md: 750px;
$grid__breakpoint--lg: 1100px;
$cols--spacer: $spacer / 2;
